body {
  font-family: cursive;
  color: white;
  background-color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-body {
  display: flex;
}

.header-title {
  font-size: 42px;
  font-weight: 900;
  padding: 20px;
}

.grid {
  border: 2px solid rgb(0, 0, 0);
  width: 500px;
  height: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0;
}

.grid-row {
  justify-content: space-evenly;
  display: flex;
  flex: 1;
}

.cell {
  background-color: #ffffff;
  flex: 1;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 240px;
}

.control-button {
  border-radius: 8px;
  border: 2px solid black;
  width: 90%;
  height: 40px;
  font-family: cursive;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  transform: scale(1.05);
}

.colour-text {
  margin-right: 10px;
}

.grid-size {
  padding: 0;
  margin: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 7px;
  border-radius: 5px;
  background-image: linear-gradient(#2586c2, #2586c2);
  background-size: 100% 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #2586c2;
  box-shadow: 0 0 2px 0 #555;
}

.grid-size-display {
  font-size: 20px;
}
